# Import library

In [1]:
import numpy as np 
import pandas as pd

## Read data

In [171]:
# doc du lieu
data = pd.read_csv("patient_heart_rate.csv",encoding='latin-1')
# doc 10 hang dau cua du lieu
data.head(10)

     1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0  2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1  3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2  4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3  5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4  6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5  7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6  8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN

## Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề ―Missing header in the csv file‖

In [198]:
# the hearder vao dataframe
colmn_name = ["Id","Name","Age","Weight","m0006","m0621","m1218","f0006","f0612","f1218"]

data= pd.read_csv("patient_heart_rate.csv",encoding="latin-1",names=colmn_name)
# # hien thi 10 hang dau
data.head(10)

    Id            Name   Age      Weight m0006 m0621 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5  6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6  7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7  8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
8  NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9  NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN

##  Van de 2 :  Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột ―Name‖ chứa bao gồm ―Firstname‖ và ―Lastname‖, giải pháp là ta sẽ tách ra làm 2 cột

In [200]:
# tac cot Name thanh hai cot Fristname va Lastname
data[["Firstname","Lastname"]] = data["Name"].str.split(expand=True)
# xoa cot name
data= data.drop("Name", axis=1)
# hine thi 10 hang dau
data.head(10)

,Id,Age,Weight,m0006,m0621,m1218,f0006,f0612,f1218,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,Pink,Panther
5,6.0,52.0,189lbs,-,-,-,68,75,72,Huey,McDuck
6,7.0,19.0,56kgs,-,-,-,71,78,75,Dewey,McDuck
7,8.0,32.0,78kgs,78,76,75,-,-,-,Scööpy,Doo
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##   Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn ―kg‖

In [201]:
# lay gia tri cot weight
weight = data["Weight"]
for i in range(0, len(weight)):
    # lay gi tri can nang
    x=str(weight[i])
    if "lbs" in x[-3:]:
        # xoa 3 phan tu cuoi
        x=x[:-3:]
        float_x=float(x)
        # doi don vi
        y=int(float(float_x/2.2))
        y=str(y)+"kgs"
        weight[i]=y
data.head(10)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6508\678708322.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6508\678708322.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6508\678708322.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6508\678708322.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_6508\678708322.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i]=y

    Id   Age Weight m0006 m0621 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5  6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6  7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7  8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8  NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9  NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN

## Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ

In [202]:
# xoa cac dong du lieu co gia tri la NaN
data.dropna(how="all", inplace=True)
#  hien thiu 10 hang dau
data.head(10)

      Id   Age Weight m0006 m0621 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck

## Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.

In [203]:
# xu lu du lieu bi trung lap
data = data.drop_duplicates(subset=["Firstname","Lastname", "Age", "Weight"])
# hien tji 10 dong dau
data.head(10)

      Id   Age Weight m0006 m0621 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam

## Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII. 
Giải pháp:

In [204]:
# ching sua loi non-ASCI
data.Firstname.replace({r"[^\x00-\x7F]+":""}, regex=True, inplace=True)
data.Lastname.replace({r"[^\x00-\x7F]+":""}, regex=True, inplace=True)
#  hien thi 10 dong dau
data.head(10)

      Id   Age Weight m0006 m0621 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam

## Vấn đề 7: ―Missing values‖, vấn đề này xảy ra tại các cột ―Age‖, ―Weight‖ và ―Heart Rate‖.

In [205]:
# thong ke du lieu thi owr cot Age va cot Weight
index_null = data[data["Age"].isna() & data["Weight"].isna()].index
index_null

Index([15, 16], dtype='int64')

In [206]:
# gia tri age trong cot khi thieu thay the bang gia tri PP mean
data["Age"].fillna(data["Age"].mean(), inplace=True)
# hien thui 10 donmg dau
data.head(10)

      Id   Age Weight m0006 m0621 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0  36.1  60kgs    78    75    72     -     -     -     Henry      Nam

## Vấn đề 8: ―một cột chứa quá nhiều thông tin cần được phân rã‖, như trong bài toán này ta thấy header ―m0006‖ chứa các nội dung bao gồm: m  male, 1218 ~ 12-18 (mm-dd). Còn giá trị thì là kết quả huyết áp.

In [207]:

# tach ca cot phan ra tanh ca cot PulseRate, sex_and_time
data= pd.melt(data,id_vars=["Id","Age","Weight","Firstname","Lastname"], value_name='PulseRate', var_name="sex_and_time").sort_values(["Id", "Age","Weight","Firstname", "Lastname"])
data.head(10)

     Id   Age Weight Firstname Lastname sex_and_time PulseRate
0   1.0  56.0  70kgs     Micky     Mous        m0006        72
14  1.0  56.0  70kgs     Micky     Mous        m0621        69
28  1.0  56.0  70kgs     Micky     Mous        m1218        71
42  1.0  56.0  70kgs     Micky     Mous        f0006         -
56  1.0  56.0  70kgs     Micky     Mous        f0612         -
70  1.0  56.0  70kgs     Micky     Mous        f1218         -
1   2.0  34.0  70kgs    Donald     Duck        m0006         -
15  2.0  34.0  70kgs    Donald     Duck        m0621         -
29  2.0  34.0  70kgs    Donald     Duck        m1218         -
43  2.0  34.0  70kgs    Donald     Duck        f0006        85

In [208]:
# extract sexm hour lower bound, and hours upper bound group
tmp_df= data["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)
tmp_df.head(10)

    0   1   2
0   m  00  06
14  m  06  21
28  m  12  18
42  f  00  06
56  f  06  12
70  f  12  18
1   m  00  06
15  m  06  21
29  m  12  18
43  f  00  06

In [209]:
# gan ten cot 
tmp_df.columns =["Sex", "hour","minute"]
tmp_df.head(10)

   Sex hour minute
0    m   00     06
14   m   06     21
28   m   12     18
42   f   00     06
56   f   06     12
70   f   12     18
1    m   00     06
15   m   06     21
29   m   12     18
43   f   00     06

In [210]:
# tao cot tiem du tren cot hour va minute
tmp_df["Time"] = tmp_df["hour"]+"-"+tmp_df["minute"]
tmp_df.head(10)

   Sex hour minute   Time
0    m   00     06  00-06
14   m   06     21  06-21
28   m   12     18  12-18
42   f   00     06  00-06
56   f   06     12  06-12
70   f   12     18  12-18
1    m   00     06  00-06
15   m   06     21  06-21
29   m   12     18  12-18
43   f   00     06  00-06

In [211]:
# gop vao df
data= pd.concat([data,tmp_df],axis=1)
data.head(10)

,Id,Age,Weight,Firstname,Lastname,sex_and_time,PulseRate,Sex,hour,minute,Time
0,1.0,56.0,70kgs,Micky,Mous,m0006,72,m,00,06,00-06
14,1.0,56.0,70kgs,Micky,Mous,m0621,69,m,06,21,06-21
28,1.0,56.0,70kgs,Micky,Mous,m1218,71,m,12,18,12-18
42,1.0,56.0,70kgs,Micky,Mous,f0006,-,f,00,06,00-06
56,1.0,56.0,70kgs,Micky,Mous,f0612,-,f,06,12,06-12
70,1.0,56.0,70kgs,Micky,Mous,f1218,-,f,12,18,12-18
1,2.0,34.0,70kgs,Donald,Duck,m0006,-,m,00,06,00-06
15,2.0,34.0,70kgs,Donald,Duck,m0621,-,m,06,21,06-21
29,2.0,34.0,70kgs,Donald,Duck,m1218,-,m,12,18,12-18
43,2.0,34.0,70kgs,Donald,Duck,f0006,85,f,00,06,00-06

In [212]:
data = data.drop(["sex_and_time","hour","minute"],axis=1)
data = data.dropna()
data.head(10)

     Id   Age Weight Firstname Lastname PulseRate Sex   Time
0   1.0  56.0  70kgs     Micky     Mous        72   m  00-06
14  1.0  56.0  70kgs     Micky     Mous        69   m  06-21
28  1.0  56.0  70kgs     Micky     Mous        71   m  12-18
42  1.0  56.0  70kgs     Micky     Mous         -   f  00-06
56  1.0  56.0  70kgs     Micky     Mous         -   f  06-12
70  1.0  56.0  70kgs     Micky     Mous         -   f  12-18
1   2.0  34.0  70kgs    Donald     Duck         -   m  00-06
15  2.0  34.0  70kgs    Donald     Duck         -   m  06-21
29  2.0  34.0  70kgs    Donald     Duck         -   m  12-18
43  2.0  34.0  70kgs    Donald     Duck        85   f  00-06

In [213]:
data.to_csv("outputcleanup.csv", index=False)

## 11. Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng phương pháp sau

In [214]:

data["PulseRate"]=data["PulseRate"].replace({"-":"0"},regex=True)
data["PulseRate"].fillna('0', inplace =True)
data

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
14   1.0  56.0  70kgs     Micky     Mous        69   m  06-21
28   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
42   1.0  56.0  70kgs     Micky     Mous         0   f  00-06
56   1.0  56.0  70kgs     Micky     Mous         0   f  06-12
70   1.0  56.0  70kgs     Micky     Mous         0   f  12-18
1    2.0  34.0  70kgs    Donald     Duck         0   m  00-06
15   2.0  34.0  70kgs    Donald     Duck         0   m  06-21
29   2.0  34.0  70kgs    Donald     Duck         0   m  12-18
43   2.0  34.0  70kgs    Donald     Duck        85   f  00-06
57   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
71   2.0  34.0  70kgs    Donald     Duck        76   f  12-18
3    4.0  36.1  78kgs   Scrooge   McDuck        78   m  00-06
17   4.0  36.1  78kgs   Scrooge   McDuck        79   m  06-21
31   4.0  36.1  78kgs   Scrooge   McDuck        72   m  12-18
45   4.0  36.1  78kgs   Scrooge   McDuck         0   f  00-06
59   4.0  36.1  78kgs   Scrooge   McDuck         0   f  06-12
73   4.0  36.1  78kgs   Scrooge   McDuck         0   f  12-18
4    5.0  54.0  90kgs      Pink  Panther         0   m  00-06
18   5.0  54.0  90kgs      Pink  Panther         0   m  06-21
32   5.0  54.0  90kgs      Pink  Panther         0   m  12-18
46   5.0  54.0  90kgs      Pink  Panther        69   f  00-06
74   5.0  54.0  90kgs      Pink  Panther        75   f  12-18
5    6.0  52.0  85kgs      Huey   McDuck         0   m  00-06
19   6.0  52.0  85kgs      Huey   McDuck         0   m  06-21
33   6.0  52.0  85kgs      Huey   McDuck         0   m  12-18
47   6.0  52.0  85kgs      Huey   McDuck        68   f  00-06
61   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12
75   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18
6    7.0  19.0  56kgs     Dewey   McDuck         0   m  00-06
20   7.0  19.0  56kgs     Dewey   McDuck         0   m  06-21
34   7.0  19.0  56kgs     Dewey   McDuck         0   m  12-18
48   7.0  19.0  56kgs     Dewey   McDuck        71   f  00-06
62   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12
76   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06
21   8.0  32.0  78kgs      Scpy      Doo        76   m  06-21
35   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18
49   8.0  32.0  78kgs      Scpy      Doo         0   f  00-06
63   8.0  32.0  78kgs      Scpy      Doo         0   f  06-12
77   8.0  32.0  78kgs      Scpy      Doo         0   f  12-18
8   10.0  12.0  45kgs     Louie   McDuck         0   m  00-06
22  10.0  12.0  45kgs     Louie   McDuck         0   m  06-21
36  10.0  12.0  45kgs     Louie   McDuck         0   m  12-18
50  10.0  12.0  45kgs     Louie   McDuck        92   f  00-06
64  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12
78  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18
9   11.0  36.1  60kgs     Henry      Nam        78   m  00-06
23  11.0  36.1  60kgs     Henry      Nam        75   m  06-21
37  11.0  36.1  60kgs     Henry      Nam        72   m  12-18
51  11.0  36.1  60kgs     Henry      Nam         0   f  00-06
65  11.0  36.1  60kgs     Henry      Nam         0   f  06-12
79  11.0  36.1  60kgs     Henry      Nam         0   f  12-18

In [216]:
def avgPulserate(df, firstname):
  sumPulserate = 0
  nsumPulserate = 0
  for i, value in enumerate(data['Firstname']):
    if value == firstname:
      try:
        if data['PulseRate'][i] !='0':
          sumPulserate += int(data['PulseRate'].values[i])
          nsumPulserate += 1
      except:
        pass
  if nsumPulserate > 0:
    return str(sumPulserate/nsumPulserate)
  else:
    return 0

In [218]:
def isValidIndex1(index, nrows):
  return index - 1 > 0 & index + 1 < nrows

def isValidIndex2(index, nrows):
  return index + 1 < nrows & index + 2 < nrows

def isPulseRateNotNull1(index, df):
  return str(df['PulseRate'].values[index-1])!= '0' and str(df['PulseRate'].values[index+1])!= '0'

def isPulseRateNotNull2(index, df):
  return str(df['PulseRate'].values[index+1])!= '0' and str(df['PulseRate'].values[index +2])!= '0'


def isInGroup1(df, index, firstname):
  return df['Firstname'].values[index-1]== firstname and df['Firstname'].values[index +1]== firstname

def isInGroup2(df, index, firstname):
  return df['Firstname'].values[index+1]== firstname and df['Firstname'].values[index +2]== firstname

def updatePulseRatena (index, df):
  nrows = len(df['PulseRate']) -2
  newvalue = ''
  firstname = df['Firstname'].values[index]
  try:
    if isValidIndex1(index,nrows) & isPulseRateNotNull1(index, df) & isInGroup1(df, index, firstname):
      try:
        newvalue = (int(df['PulseRate'].values[index-1]) + int(df['PulseRate'].values[index+1]))/2
      except:
        newvalue = '0'
    elif isValidIndex2(index,nrows) & isPulseRateNotNull2(index, df) & isInGroup2(df, index, firstname):
      try:
        newvalue = (int(df['PulseRate'].values[index-1]) + int(df['PulseRate'].values[index+1]))/2
      except:
        newvalue ='0'
    else:
      newvalue = avgPulserate(df, firstname)
  except:
      newvalue = avgPulserate(df, firstname)
  finally:
    pass
  return newvalue

In [221]:
pulserateupdate = []
for index, value in enumerate(data["PulseRate"]):
  if value =='0' or value == '':
    newvalue = updatePulseRatena(index,data)
    pulserateupdate.append(newvalue)
  else:
    pulserateupdate.append(value)
data["PulseRateUpdate"] = pulserateupdate
data

      Id   Age Weight Firstname Lastname PulseRate Sex   Time PulseRateUpdate
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06              72
14   1.0  56.0  70kgs     Micky     Mous        69   m  06-21              69
28   1.0  56.0  70kgs     Micky     Mous        71   m  12-18              71
42   1.0  56.0  70kgs     Micky     Mous         0   f  00-06            36.0
56   1.0  56.0  70kgs     Micky     Mous         0   f  06-12            36.0
70   1.0  56.0  70kgs     Micky     Mous         0   f  12-18            36.0
1    2.0  34.0  70kgs    Donald     Duck         0   m  00-06            42.5
15   2.0  34.0  70kgs    Donald     Duck         0   m  06-21            42.5
29   2.0  34.0  70kgs    Donald     Duck         0   m  12-18            42.5
43   2.0  34.0  70kgs    Donald     Duck        85   f  00-06              85
57   2.0  34.0  70kgs    Donald     Duck        84   f  06-12              84
71   2.0  34.0  70kgs    Donald     Duck        76   f  12-18              76
3    4.0  36.1  78kgs   Scrooge   McDuck        78   m  00-06              78
17   4.0  36.1  78kgs   Scrooge   McDuck        79   m  06-21              79
31   4.0  36.1  78kgs   Scrooge   McDuck        72   m  12-18              72
45   4.0  36.1  78kgs   Scrooge   McDuck         0   f  00-06            36.0
59   4.0  36.1  78kgs   Scrooge   McDuck         0   f  06-12            36.0
73   4.0  36.1  78kgs   Scrooge   McDuck         0   f  12-18            36.0
4    5.0  54.0  90kgs      Pink  Panther         0   m  00-06            69.0
18   5.0  54.0  90kgs      Pink  Panther         0   m  06-21            69.0
32   5.0  54.0  90kgs      Pink  Panther         0   m  12-18            69.0
46   5.0  54.0  90kgs      Pink  Panther        69   f  00-06              69
74   5.0  54.0  90kgs      Pink  Panther        75   f  12-18              75
5    6.0  52.0  85kgs      Huey   McDuck         0   m  00-06            36.0
19   6.0  52.0  85kgs      Huey   McDuck         0   m  06-21            36.0
33   6.0  52.0  85kgs      Huey   McDuck         0   m  12-18            36.0
47   6.0  52.0  85kgs      Huey   McDuck        68   f  00-06              68
61   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12              75
75   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18              72
6    7.0  19.0  56kgs     Dewey   McDuck         0   m  00-06             0.0
20   7.0  19.0  56kgs     Dewey   McDuck         0   m  06-21             0.0
34   7.0  19.0  56kgs     Dewey   McDuck         0   m  12-18            35.5
48   7.0  19.0  56kgs     Dewey   McDuck        71   f  00-06              71
62   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12              78
76   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18              75
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06              78
21   8.0  32.0  78kgs      Scpy      Doo        76   m  06-21              76
35   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18              75
49   8.0  32.0  78kgs      Scpy      Doo         0   f  00-06            76.5
63   8.0  32.0  78kgs      Scpy      Doo         0   f  06-12            76.5
77   8.0  32.0  78kgs      Scpy      Doo         0   f  12-18            76.5
8   10.0  12.0  45kgs     Louie   McDuck         0   m  00-06            43.5
22  10.0  12.0  45kgs     Louie   McDuck         0   m  06-21            43.5
36  10.0  12.0  45kgs     Louie   McDuck         0   m  12-18            43.5
50  10.0  12.0  45kgs     Louie   McDuck        92   f  00-06              92
64  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12              95
78  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18              87
9   11.0  36.1  60kgs     Henry      Nam        78   m  00-06              78
23  11.0  36.1  60kgs     Henry      Nam        75   m  06-21              75
37  11.0  36.1  60kgs     Henry      Nam        72   m  12-18              72
51  11.0  36.1  60kgs     Henry      Nam         0   f  00-06            51.0
65  11.0  36.1  60kgs     Henry      Nam         0   f  06-12            51.0
79  11.0  36.1  60kgs     Henry      Nam         0   f  12-18            51.0

In [222]:
data.to_csv("patient_heart_rate_clean.csv",index=False)

In [224]:
data = pd.read_csv("patient_heart_rate_clean.csv")
data

,Id,Age,Weight,Firstname,Lastname,PulseRate,Sex,Time,PulseRateUpdate
0,1.0,56.0,70kgs,Micky,Mous,72,m,00-06,72.0
1,1.0,56.0,70kgs,Micky,Mous,69,m,06-21,69.0
2,1.0,56.0,70kgs,Micky,Mous,71,m,12-18,71.0
3,1.0,56.0,70kgs,Micky,Mous,0,f,00-06,36.0
4,1.0,56.0,70kgs,Micky,Mous,0,f,06-12,36.0
5,1.0,56.0,70kgs,Micky,Mous,0,f,12-18,36.0
6,2.0,34.0,70kgs,Donald,Duck,0,m,00-06,42.5
7,2.0,34.0,70kgs,Donald,Duck,0,m,06-21,42.5
8,2.0,34.0,70kgs,Donald,Duck,0,m,12-18,42.5
9,2.0,34.0,70kgs,Donald,Duck,85,f,00-06,85.0
10,2.0,34.0,70kgs,Donald,Duck,84,f,06-12,84.0
11,2.0,34.0,70kgs,Donald,Duck,76,f,12-18,76.0
12,4.0,36.1,78kgs,Scrooge,McDuck,78,m,00-06,78.0
13,4.0,36.1,78kgs,Scrooge,McDuck,79,m,06-21,79.0
14,4.0,36.1,78kgs,Scrooge,McDuck,72,m,12-18,72.0
15,4.0,36.1,78kgs,Scrooge,McDuck,0,f,00-06,36.0
16,4.0,36.1,78kgs,Scrooge,McDuck,0,f,06-12,36.0
17,4.0,36.1,78kgs,Scrooge,McDuck,0,f,12-18,36.0
18,5.0,54.0,90kgs,Pink,Panther,0,m,00-06,69.0
19,5.0,54.0,90kgs,Pink,Panther,0,m,06-21,69.0
20,5.0,54.0,90kgs,Pink,Panther,0,m,12-18,69.0
21,5.0,54.0,90kgs,Pink,Panther,69,f,00-06,69.0
22,5.0,54.0,90kgs,Pink,Panther,75,f,12-18,75.0
23,6.0,52.0,85kgs,Huey,McDuck,0,m,00-06,36.0
24,6.0,52.0,85kgs,Huey,McDuck,0,m,06-21,36.0
25,6.0,52.0,85kgs,Huey,McDuck,0,m,12-18,36.0
26,6.0,52.0,85kgs,Huey,McDuck,68,f,00-06,68.0
27,6.0,52.0,85kgs,Huey,McDuck,75,f,06-12,75.0
28,6.0,52.0,85kgs,Huey,McDuck,72,f,12-18,72.0
29,7.0,19.0,56kgs,Dewey,McDuck,0,m,00-06,0.0
30,7.0,19.0,56kgs,Dewey,McDuck,0,m,06-21,0.0
31,7.0,19.0,56kgs,Dewey,McDuck,0,m,12-18,35.5
32,7.0,19.0,56kgs,Dewey,McDuck,71,f,00-06,71.0
33,7.0,19.0,56kgs,Dewey,McDuck,78,f,06-12,78.0
34,7.0,19.0,56kgs,Dewey,McDuck,75,f,12-18,75.0
35,8.0,32.0,78kgs,Scpy,Doo,78,m,00-06,78.0
36,8.0,32.0,78kgs,Scpy,Doo,76,m,06-21,76.0
37,8.0,32.0,78kgs,Scpy,Doo,75,m,12-18,75.0
38,8.0,32.0,78kgs,Scpy,Doo,0,f,00-06,76.5
39,8.0,32.0,78kgs,Scpy,Doo,0,f,06-12,76.5
40,8.0,32.0,78kgs,Scpy,Doo,0,f,12-18,76.5
41,10.0,12.0,45kgs,Louie,McDuck,0,m,00-06,43.5
42,10.0,12.0,45kgs,Louie,McDuck,0,m,06-21,43.5
43,10.0,12.0,45kgs,Louie,McDuck,0,m,12-18,43.5
44,10.0,12.0,45kgs,Louie,McDuck,92,f,00-06,92.0
45,10.0,12.0,45kgs,Louie,McDuck,95,f,06-12,95.0
46,10.0,12.0,45kgs,Louie,McDuck,87,f,12-18,87.0
47,11.0,36.1,60kgs,Henry,Nam,78,m,00-06,78.0
48,11.0,36.1,60kgs,Henry,Nam,75,m,06-21,75.0
49,11.0,36.1,60kgs,Henry,Nam,72,m,12-18,72.0
50,11.0,36.1,60kgs,Henry,Nam,0,f,00-06,51.0
51,11.0,36.1,60kgs,Henry,Nam,0,f,06-12,51.0
52,11.0,36.1,60kgs,Henry,Nam,0,f,12-18,51.0